In [60]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [81]:
# Load nulls final dataframe from previous notebook where we converted all 0s and empty lists to null values
df = pd.read_csv('data/cleaned_csv/nulls_final_merged_df.csv', index_col=0)

In [84]:
df.head()

,item_id,imdb_id,title_x,title_y,rating,votes,release_date,runtime,budget,revenue,original_language,genre_names,director_names,directedBy,actor_names,starring,company_names
0,1,tt0114709,Toy Story (1995),Toy Story,8.3,970437,1995-10-30,81,30000000.0,373554033.0,en,"['Animation', 'Comedy', 'Family']",['John Lasseter'],John Lasseter,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",['Pixar']
1,2,tt0113497,Jumanji (1995),Jumanji,7.0,338777,1995-12-15,104,65000000.0,262797249.0,en,"['Adventure', 'Fantasy', 'Family']",['Joe Johnston'],Joe Johnston,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","Jonathan Hyde, Bradley Pierce, Robin Williams,...","['TriStar Pictures', 'Interscope Communication..."
2,6,tt0113277,Heat (1995),Heat,8.3,638115,1995-12-15,170,60000000.0,187436818.0,en,"['Action', 'Crime', 'Drama', 'Thriller']",['Michael Mann'],Michael Mann,"['Al Pacino', 'Robert De Niro', 'Val Kilmer', ...","Robert De Niro, Al Pacino, Val Kilmer, Jon Voi...","['Regency Enterprises', 'Forward Pass', 'Warne..."
3,8,tt0112302,Tom and Huck (1995),Tom and Huck,5.5,10830,1995-12-22,97,NaN,23920048.0,en,"['Action', 'Adventure', 'Drama', 'Family']",['Peter Hewitt'],Peter Hewitt,"['Jonathan Taylor Thomas', 'Brad Renfro', 'Rac...","Jonathan Taylor Thomas, Brad Renfro, Eric Schw...","['Walt Disney Pictures', 'Painted Fence Produc..."
4,9,tt0114576,Sudden Death (1995),Sudden Death,5.8,34465,1995-10-27,106,35000000.0,64350171.0,en,"['Action', 'Adventure', 'Thriller', 'Drama']",['Peter Hyams'],Peter Hyams,"['Jean-Claude Van Damme', 'Powers Boothe', 'Ra...","Raymond J. Barry, Powers Boothe, Jean-Claude V...","['SHATTERED PRODUCTIONS', 'Universal Pictures'..."

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40297 entries, 0 to 40296
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            40297 non-null  int64
 1   imdb_id            40297 non-null  object
 2   title_x            40297 non-null  object
 3   title_y            40297 non-null  object
 4   rating             40297 non-null  float64
 5   votes              40297 non-null  int64
 6   release_date       40289 non-null  object
 7   runtime            40297 non-null  int64
 8   budget             8876 non-null   float64
 9   revenue            7227 non-null   float64
 10  original_language  40297 non-null  object
 11  genre_names        39783 non-null  object
 12  director_names     40104 non-null  object
 13  directedBy         39577 non-null  object
 14  actor_names        39859 non-null  object
 15  starring           39106 non-null  object
 16  company_names      34191 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 5.5+ MB

In [89]:
# Load supplemental budget data
mojo_budget_df = pd.read_csv('data/Mojo_Budget_Data/Mojo_budget_update.csv')

In [90]:
mojo_budget_df.head()

,movie_id,title,year,trivia,mpaa,release_date,run_time,distributor,director,writer,...,main_actor_4,budget,domestic,international,worldwide,genre_1,genre_2,genre_3,genre_4,html
0,tt0099088,Back to the Future Part III,1990,"Stranded in 1955, Marty McFly learns about the...",NaN,May 25,1 hr 58 min,Universal Pictures,Robert Zemeckis,Robert Zemeckis,...,Thomas F. Wilson,40000000.0,88277583.0,157866667.0,246144250.0,Adventure,Comedy,Sci-Fi,Western,https://www.boxofficemojo.com/title/tt0099088/...
1,tt0099165,The Bonfire of the Vanities,1990,"After his mistress runs over a young teen, a W...",R,December 22,2 hr 5 min,Warner Bros.,Brian De Palma,Michael Cristofer,...,Kim Cattrall,47000000.0,15691192.0,NaN,15691192.0,Comedy,Drama,Romance,NaN,https://www.boxofficemojo.com/title/tt0099165/...
2,tt0099348,Dances with Wolves,1990,"Lieutenant John Dunbar, assigned to a remote w...",NaN,November 9,3 hr 1 min,Orion Pictures,Kevin Costner,Michael Blake,...,Rodney A. Grant,22000000.0,184208848.0,240000000.0,424208848.0,Adventure,Drama,Western,NaN,https://www.boxofficemojo.com/title/tt0099348/...
3,tt0099422,Dick Tracy,1990,The comic strip detective finds his life vastl...,NaN,June 15,1 hr 45 min,Walt Disney Studios Motion Pictures,Warren Beatty,Chester Gould,...,Charlie Korsmo,47000000.0,103738726.0,59000000.0,162738726.0,Action,Comedy,Crime,Music,https://www.boxofficemojo.com/title/tt0099422/...
4,tt0099423,Die Hard 2,1990,John McClane attempts to avert disaster as rog...,NaN,July 6,2 hr 4 min,Twentieth Century Fox,Renny Harlin,Walter Wager,...,Reginald VelJohnson,70000000.0,117540947.0,122706486.0,240247433.0,Action,Thriller,NaN,NaN,https://www.boxofficemojo.com/title/tt0099423/...

In [91]:
# Rename movies_df id
mojo_budget_df.rename(columns={'movie_id': 'imdb_id'}, inplace=True)

In [92]:
mojo_budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          3243 non-null   object
 1   title            3243 non-null   object
 2   year             3243 non-null   int64
 3   trivia           3243 non-null   object
 4   mpaa             3082 non-null   object
 5   release_date     3242 non-null   object
 6   run_time         3243 non-null   object
 7   distributor      3228 non-null   object
 8   director         3243 non-null   object
 9   writer           3234 non-null   object
 10  producer         3230 non-null   object
 11  composer         3138 non-null   object
 12  cinematographer  3129 non-null   object
 13  main_actor_1     3243 non-null   object
 14  main_actor_2     3243 non-null   object
 15  main_actor_3     3243 non-null   object
 16  main_actor_4     3240 non-null   object
 17  budget           3243 non-null   float64
 18  domestic         3224 non-null   float64
 19  international    2833 non-null   float64
 20  worldwide        3236 non-null   float64
 21  genre_1          3243 non-null   object
 22  genre_2          2962 non-null   object
 23  genre_3          2221 non-null   object
 24  genre_4          1123 non-null   object
 25  html             3243 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 658.9+ KB

In [93]:
# Check how many nulls we have in budget
df['budget'].isna().sum()

31421

In [94]:
# Map the 'imdb_id' of df to 'imdb_id' of mojo_budget_df to get the corresponding 'budget'
budget_mapping = df['imdb_id'].map(mojo_budget_df.set_index('imdb_id')['budget'])

# Now, fill the NaN or missing values in df['revenue'] with the values from the mapped 'revenue'
df['budget'].fillna(budget_mapping, inplace=True)

In [95]:
# Check again how many nulls we have in budget
df['budget'].isna().sum()

31287

Great, we filled in ~200 missing budgets. Not great, but it's something!

In [96]:
# Check how many nulls we have in revenue
df['revenue'].isna().sum()

33070

In [97]:
# Rename 'worldwide' to 'revenue'
mojo_budget_df.rename(columns={'worldwide': 'revenue'}, inplace=True)

In [98]:
mojo_budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3243 entries, 0 to 3242
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imdb_id          3243 non-null   object
 1   title            3243 non-null   object
 2   year             3243 non-null   int64
 3   trivia           3243 non-null   object
 4   mpaa             3082 non-null   object
 5   release_date     3242 non-null   object
 6   run_time         3243 non-null   object
 7   distributor      3228 non-null   object
 8   director         3243 non-null   object
 9   writer           3234 non-null   object
 10  producer         3230 non-null   object
 11  composer         3138 non-null   object
 12  cinematographer  3129 non-null   object
 13  main_actor_1     3243 non-null   object
 14  main_actor_2     3243 non-null   object
 15  main_actor_3     3243 non-null   object
 16  main_actor_4     3240 non-null   object
 17  budget           3243 non-null   float64
 18  domestic         3224 non-null   float64
 19  international    2833 non-null   float64
 20  revenue          3236 non-null   float64
 21  genre_1          3243 non-null   object
 22  genre_2          2962 non-null   object
 23  genre_3          2221 non-null   object
 24  genre_4          1123 non-null   object
 25  html             3243 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 658.9+ KB

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40297 entries, 0 to 40296
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            40297 non-null  int64
 1   imdb_id            40297 non-null  object
 2   title_x            40297 non-null  object
 3   title_y            40297 non-null  object
 4   rating             40297 non-null  float64
 5   votes              40297 non-null  int64
 6   release_date       40289 non-null  object
 7   runtime            40297 non-null  int64
 8   budget             9010 non-null   float64
 9   revenue            7227 non-null   float64
 10  original_language  40297 non-null  object
 11  genre_names        39783 non-null  object
 12  director_names     40104 non-null  object
 13  directedBy         39577 non-null  object
 14  actor_names        39859 non-null  object
 15  starring           39106 non-null  object
 16  company_names      34191 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 5.5+ MB

In [100]:
# Map the 'imdb_id' of df to the 'imdb_id' of mojo_budget_df to get the corresponding 'revenue'
revenue_mapping = df['imdb_id'].map(mojo_budget_df.set_index('imdb_id')['revenue'])

# Now, fill the NaN or missing values in df['revenue'] with the values from the mapped 'revenue'
df['revenue'].fillna(revenue_mapping, inplace=True)

In [101]:
df['revenue'].isna().sum()

32820

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40297 entries, 0 to 40296
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   item_id            40297 non-null  int64
 1   imdb_id            40297 non-null  object
 2   title_x            40297 non-null  object
 3   title_y            40297 non-null  object
 4   rating             40297 non-null  float64
 5   votes              40297 non-null  int64
 6   release_date       40289 non-null  object
 7   runtime            40297 non-null  int64
 8   budget             9010 non-null   float64
 9   revenue            7477 non-null   float64
 10  original_language  40297 non-null  object
 11  genre_names        39783 non-null  object
 12  director_names     40104 non-null  object
 13  directedBy         39577 non-null  object
 14  actor_names        39859 non-null  object
 15  starring           39106 non-null  object
 16  company_names      34191 non-null  object
dtypes: float64(3), int64(3), object(11)
memory usage: 5.5+ MB

In [103]:
df_missing_revenue = df[pd.isna(df['revenue'])]

In [106]:
df_missing_revenue.sample(25)

,item_id,imdb_id,title_x,title_y,rating,votes,release_date,runtime,budget,revenue,original_language,genre_names,director_names,directedBy,actor_names,starring,company_names
17131,124304,tt0070158,Harry in Your Pocket (1973),Harry in Your Pocket,6.4,1290,1973-09-23,103,NaN,NaN,en,"['Comedy', 'Crime', 'Drama']",['Bruce Geller'],Bruce Geller,"['James Coburn', 'Michael Sarrazin', 'Trish Va...","James Coburn,Michael Sarrazin,Trish Van Devere...",NaN
21703,144512,tt0410537,The Ghost (2004),The Ghost,6.0,1969,2004-06-17,98,NaN,NaN,ko,"['Thriller', 'Horror']",['Kim Tae-kyung'],Tae-kyeong Kim,"['Kim Ha-neul', 'Ryu Jin', 'Nam Sang-mi', 'Jeo...","Nam Sang-mi,Ha-Neul Kim,Jeon Hye-Bin,Jeon Hie-...","['Popcorn Film', 'Showbox']"
16820,123174,tt1650044,The Facility (2012),The Facility,4.8,2289,2012-06-23,85,NaN,NaN,en,"['Horror', 'Science Fiction']",['Ian Clark'],Ian Clark,"['Aneurin Barnard', 'Steve Evets', 'Jack Doola...","Aneurin Barnard,Steve Evets,Jack Doolan,Emily ...","['NFTS', 'Vertigo Entertainment']"
10262,79794,tt0115985,Crossworlds (1997),Crossworlds,5.2,2926,1996-10-30,90,NaN,NaN,en,"['Action', 'Science Fiction', 'Comedy']",['Krishna Rao'],Krishna Rao,"['Rutger Hauer', 'Josh Charles', 'Andrea Roth'...","Rutger Hauer, Josh Charles, Stuart Wilson, Per...",['Trimark Pictures']
27117,169780,tt1512310,Goblin (2010),Goblin,4.1,1308,2010-07-13,92,NaN,NaN,en,"['Horror', 'Fantasy', 'Science Fiction']",['Jeffery Scott Lando'],Jeffery Scott Lando,"['Gil Bellows', 'Tracy Spiridakos', 'Camille S...","Gil Bellows,Tracy Spiridakos,Camille Sullivan,...",NaN
17328,125003,tt0043134,The White Tower (1950),The White Tower,6.0,888,1950-06-24,98,NaN,NaN,en,['Adventure'],['Ted Tetzlaff'],Ted Tetzlaff,"['Glenn Ford', 'Alida Valli', 'Claude Rains', ...","Glenn Ford,Alida Valli,Claude Rains,Oskar Homo...",['RKO Radio Pictures']
18519,131164,tt2109059,Vietnam in HD (2011),Vietnam in HD,8.3,1531,2011-11-08,250,NaN,NaN,en,['War'],['Sammy Jackson'],NaN,NaN,NaN,NaN
13722,106450,tt1085382,Chicago Overcoat (2009),Chicago Overcoat,5.9,1143,2009-10-10,95,3200000.0,NaN,en,"['Action', 'Crime', 'Thriller']",['Brian Caunter'],Brian Caunter,"['Frank Vincent', 'Kathrine Narducci', 'Mike S...","Frank Vincent, Kathrine Narducci, Mike Starr, ...","['Chicago Overcoat Productions', 'Beverly Ridg..."
727,1218,tt0097202,"Killer, The (Die xue shuang xiong) (1989)",The Killer,7.8,48239,1989-07-06,110,NaN,NaN,cn,"['Action', 'Crime', 'Drama', 'Thriller']",['John Woo'],John Woo,"['Chow Yun-Fat', 'Danny Lee Sau-Yin', 'Sally Y...","Chow Yun-Fat, Danny Lee, Sally Yeh, Kong Chu, ...","['Film Workshop', 'Golden Princess Film Produc..."
31590,191091,tt4377942,Arcadia (2016),Arcadia,4.1,301,2016-10-24,90,NaN,NaN,en,"['Action', 'Science Fiction']",['Tom Large'],Tom Large,"['Gillian MacGregor', 'Akie Kotabe', 'Marc Bay...","Gillian MacGregor,Akie Kotabe,Marc Baylis,Thom...","['Material Masters', 'Bigview Media']"
8150,55487,tt0758771,Outlaw (2007),Outlaw,5.7,12556,2007-03-09,103,NaN,NaN,en,"['Action', 'Crime', 'Thriller']",['Nick Love'],Nick Love,"['Sean Bean', 'Danny Dyer', 'Rupert Friend', '...","Sean Bean, Danny Dyer","['Vertigo Films', 'Ingenious Media']"
27919,173125,tt0075343,Track of the Moon Beast (1976),Track of the Moon Beast,2.2,3675,1976-01-01,90,NaN,NaN,en,"['Horror', 'Science Fiction']",['Richard Ashe'],Richard Ashe,"['Chase Cordell', 'Leigh Drake', 'Gregorio Sal...","Chase Cordell,Leigh Drake,Gregorio Sala,Patric...","['Lizard Productions Inc.', 'Brandon Films', '..."
28917,177901,tt0186183,The Guilty (2000),The Guilty,6.1,3574,2000-06-01,108,700000.0,NaN,en,"['Crime', 'Drama', 'Thriller']",['Anthony Waller'],Anthony Waller,"['Bill Pullman', 'Devon Sawa', 'Gabrielle Anwa...","Bill Pullman,Devon Sawa,Gabrielle Anwar,Angela...","['Muse Entertainment', 'J&M Entertainment', 'D..."
26146,165085,tt5973626,Batman: Return of the Caped Crusaders (2016),Batman: Return of the Caped Crusaders,6.7,5706,2016-10-08,78,3500000.0,NaN,en,"['Action', 'Animation', 'Adventure', 'Crime', ...",['Rick Morales'],Rick Morales,"['Adam West', 'Burt Ward', 'Julie Newmar', 'Je...","Adam West,Burt Ward,Julie Newmar,Jeff Bergman,...","['Warner Premiere', 'DC Comics', 'Warner Bros...."
34747,205186,tt0107597,Monolith (1993),Monolith,4.5,895,1993-05-27,95,NaN,NaN,en,"['Action', 'Science Fiction']",['John Eyres'],John Eyres,"['Bill Paxton', 'Lindsay Frost', 'John Hurt', ...","Bill Paxton,Lindsay Frost,John Hurt,Louis Goss...","['EGM Film International', 'Moonstone Entertai..."
11124,87225,tt0068347,"Burglars, The (Le casse) (1971)",The Burglars,6.6,2474,1971-10-27,120,NaN,NaN,fr,"['Action', 'Crime']",['Henri Verneuil'],Henri Verneuil,"['Jean-Paul Belmondo', 'Omar Sharif', 'Robert ...","Jean-Paul Belmondo, Omar Sharif, Dyan Cannon","['Columbia Films S.A.', 'Vides Cinematografica']"
18170,129713,tt0094683,Assa (1987),Assa,7.7,2746,1987-11-01,153,NaN,NaN,ru,"['Crime', 'Drama']",['Sergey Solovyov'],Sergey Solovyov,"['Sergei Bugayev', 'Tatyana Drubich', 'Stanisl...","Sergei Bugayev,Tatyana Drubich,Stanislav Govor...",['Mosfilm']
18611,131516,tt0079520,"A Man, a Woman and a Bank (1979)","A Man, a Woman and a Bank",5.7,491,1979-09-28,100,NaN,NaN,en,"['Action', 'Comedy', 'Romance']",['Noel Black'],Noel Black,"['Donald Sutherland', 'Brooke Adams', 'Paul Ma...","Donald Sutherland,Brooke Adams,Paul Mazursky",NaN
21491,143843,tt0086358,State buoni se potete (1983),State buoni se potete,8.0,1367,1983-04-01,115,NaN,NaN,it,"['Comedy', 'Drama']",['Luigi Magni'],Luigi Magni,"['Johnny Dorelli', 'Philippe Leroy', 'Rodolfo ...","Mario Adorf,Johnny Dorelli,Philippe Leroy,Mari...","['Excelsior Cinematografica', 'RAI']"
39493,232545,tt0118183,Within the Rock (1996),Within the Rock,4.3,635,1996-06-08,88,NaN,NaN,en,"['Science Fiction', 'Horror']",['Gary J. Tunnicliffe'],Gary J. Tunnicliffe,"['Xander Berkeley', 'Caroline Barclay', 'Bradf...","Xander Berkeley,Caroline Barclay,Bradford Tatu...",['360 Entertainment']
5713,26009,tt0049012,"Burmese Harp, The (Biruma no tategoto) (1956)",The Burmese Harp,8.0,5909,1956-01-21,116,NaN,NaN,ja,"['Drama', 'Music', 'War']",['Kon Ichikawa'],Kon Ichikawa,"['Rentarou Mikuni', 'Shôji Yasui', 'Jun Hamamu...","Rentaro Mikuni, Shôji Yasui, Jun Hamamura, Tak...",['Nikkatsu Corporation']
39601,233527,tt0070181,Professional Killers (1973),Professional Killers,7.1,41,1973-06-09,87,NaN,NaN,ja,['Drama'],['Yûsuke Watanabe'],Yûsuke Watanabe,"['Jirô Tamiya', 'Kōji Takahashi', 'Sō Yamamura...","Jirō Tamiya,Kōji Takahashi,Sō Yamamura,Taisaku...","['Shochiku Co., Ltd.']"
31405,190157,tt6389316,Wrath of Silence (2017),Wrath of Silence,7.0,1940,2017-07-27,119,NaN,NaN,zh,"['Drama', 'Thriller']",['Xin Yukun'],Xin Yukun,"['Song Yang', 'Jiang Wu', 'Yuan Wenkang', 'Tan...","Jiang Wu,Song Yang,Yuan Wenkang","['Bingchi Pictures', 'Hehe Pictures', 'Khorgos..."
10400,80746,tt0021294,Remote Control (1930),Remote Control,5.6,640,1930-11-15,65,NaN,NaN,en,"['Comedy', 'Drama']","['Nick Grinde', 'Edward Sedgwick', 'Malcolm St...","Edward Sedgwick, Malcolm St. Clair, Nick Grinde","['William Haines', 'Mary Doran', 'John Miljan'...","William Haines, Charles King, Mary Doran",['Metro-Goldwyn-Mayer']
39035,228477,tt3462670,Megadeth : Countdown to Extinction - Live (2013),Megadeth: Countdown to Extinction - Live,8.2,52,2013-08-20,92,NaN,NaN,en,['Music'],['James Yukich'],James Yukich,"['Dave Mustaine', 'Chris Broderick', 'David El...","Dave Mustaine,Chris Broderick,David Ellefson,S...",['Capitol Records']

In [114]:
df_music_genre = df[df['genre_names'].apply(lambda x: 'Music' in x if isinstance(x, str) else False)]

In [115]:
df_music_genre.head()

,item_id,imdb_id,title_x,title_y,rating,votes,release_date,runtime,budget,revenue,original_language,genre_names,director_names,directedBy,actor_names,starring,company_names
41,62,tt0113862,Mr. Holland's Opus (1995),Mr. Holland's Opus,7.3,39111,1995-12-29,137,23000000.0,106269971.0,en,"['Drama', 'Music', 'Family']",['Stephen Herek'],Stephen Herek,"['Richard Dreyfuss', 'Glenne Headly', 'Jay Tho...","Richard Dreyfuss, Jay Thomas, Olympia Dukakis,...","['Hollywood Pictures', 'Interscope Communicati..."
66,107,tt0117110,Muppet Treasure Island (1996),Muppet Treasure Island,6.9,24106,1996-02-16,100,NaN,34327391.0,en,"['Action', 'Comedy', 'Music', 'Family', 'Adven...",['Brian Henson'],Brian Henson,"['Tim Curry', 'Kevin Bishop', 'Jennifer Saunde...","Kevin Bishop, Billy Connolly, Tim Curry, Jenni...","['Walt Disney Pictures', 'Jim Henson Productio..."
147,249,tt0110116,Immortal Beloved (1994),Immortal Beloved,7.4,24800,1994-12-16,121,120.0,NaN,en,"['Drama', 'Music', 'Romance']",['Bernard Rose'],Bernard Rose,"['Gary Oldman', 'Jeroen Krabbé', 'Isabella Ros...","Jeroen Krabbé, Gary Oldman, Isabella Rossellin...","['Columbia Pictures', 'Majestic Films Internat..."
203,346,tt0106339,Backbeat (1993),Backbeat,6.6,6223,1994-04-01,100,NaN,NaN,en,"['Drama', 'Music']",['Iain Softley'],Iain Softley,"['Stephen Dorff', 'Ian Hart', 'Sheryl Lee', 'G...","Stephen Dorff, Ian Hart, John White, Marcelle ...",['Gramercy Pictures']
244,413,tt0109068,Airheads (1994),Airheads,6.1,51071,1994-08-05,92,NaN,NaN,en,"['Comedy', 'Crime', 'Music']",['Michael Lehmann'],Michael Lehmann,"['Brendan Fraser', 'Steve Buscemi', 'Adam Sand...","Steve Buscemi, Chris Farley, Brendan Fraser, A...","['Robert Simonds Productions', 'Island World',..."

In [119]:
# Filter the DataFrame for rows where 'genre_names' is exactly "['Music']"
df_music_only = df[df['genre_names'] == "['Music']"]

# Check how many such rows exist
count_music_only = df_music_only.shape[0]
print(f"Number of rows where 'genre_names' is exactly \"['Music']\": {count_music_only}")

Number of rows where 'genre_names' is exactly "['Music']": 148

In [120]:
df_music_only.head()

,item_id,imdb_id,title_x,title_y,rating,votes,release_date,runtime,budget,revenue,original_language,genre_names,director_names,directedBy,actor_names,starring,company_names
785,1298,tt0084503,Pink Floyd: The Wall (1982),Pink Floyd: The Wall,8.0,80505,1982-07-14,95,12000000.0,22244207.0,en,['Music'],['Alan Parker'],Alan Parker,"['Bob Geldof', 'Christine Hargreaves', 'James ...","Bob Geldof, Christine Hargreaves, James Lauren...","['Goldcrest', 'Tin Blue', 'Metro-Goldwyn-Mayer']"
2120,3371,tt0074235,Bound for Glory (1976),Bound for Glory,7.3,5199,1976-12-05,147,NaN,NaN,en,['Music'],['Hal Ashby'],Hal Ashby,"['David Carradine', 'Ronny Cox', 'Melinda Dill...","David Carradine, Ronny Cox, Melinda Dillon, Ga...",['United Artists']
3439,5239,tt0081441,Rude Boy (1980),Rude Boy,6.5,1150,1980-07-25,133,NaN,NaN,en,['Music'],"['Jack Hazan', 'David Mingay']","Jack Hazan, David Mingay","['Joe Strummer', 'Topper Headon', 'Jimmy Purse...","Mick Jones, Topper Headon, Joe Strummer, Paul ...",NaN
4525,6864,tt0380275,"Concert for George, The (2003)",Concert for George,8.6,1981,2003-10-03,140,NaN,NaN,en,['Music'],['David Leland'],David Leland,"['Eric Clapton', 'Jeff Lynne', 'Ravi Shankar',...","Paul McCartney, Ringo Starr, Olivia Harrison, ...",NaN
7815,51372,tt0173714,"""Great Performances"" Cats (1998)",Cats,7.3,5509,1998-10-05,120,NaN,NaN,en,['Music'],['David Mallet'],David Mallet,"['Elaine Paige', 'John Mills', 'Rosemarie Ford...","Elaine Paige, John Partridge, Rosemarie Ford, ...","['Universal Pictures UK', 'THE REALLY USEFUL T..."

In [118]:
# Count the number of rows where 'genre_names' is exactly ['Music']
count_music_only = df[df['genre_names'].apply(lambda x: x == ['Music'] if isinstance(x, list) else False)].shape[0]
print(f"Number of rows where 'genre_names' is only ['Music']: {count_music_only}")

Number of rows where 'genre_names' is only ['Music']: 0

- Figure out how to filter out Music only from the other df in Capstone_Sprint_1 notebook
- Figure out how to load in the budget information from mojo_budget into other notebook